from playwright.sync_api import sync_playwright
import os, requests

URL = "https://www.puroland.jp/greeting/charaguri_residence/"
NOTION_TOKEN = os.environ["NOTION_TOKEN"]
DB_ID = os.environ["NOTION_DB"]

with sync_playwright() as p:
    browser = p.chromium.launch()
    page = browser.new_page()
    page.goto(URL, wait_until="networkidle")

    # 一番下のoptionを選択
    page.select_option("select", index=-1)
    page.wait_for_timeout(2000)

    names = page.locator(".p-greeting-residence__name").all_text_contents()
    date = page.locator("select option:checked").get_attribute("value")

    browser.close()

# Notionへ保存
url = "https://api.notion.com/v1/pages"
headers = {
    "Authorization": "Bearer " + NOTION_TOKEN,
    "Notion-Version": "2022-06-28",
    "Content-Type": "application/json"
}
payload = {
    "parent": {"database_id": DB_ID},
    "properties": {
        "日付": {"title": [{"text": {"content": date}}]},
        "キャラクター": {"rich_text": [{"text": {"content": " / ".join(names)}}]}
    }
}

requests.post(url, headers=headers, json=payload)
